.chat-main
  .chat-main__group-info
    -# %ul.chat-main__group-info__name
    -#   %li.name test
    -#   %li.member Member : masa
    -# .chat-main__group-info__edit
    -#   %p.edit Edit
  .chat-main__message-list
  .chat-main__message-form