.chat-main
  .chat-main__group-info
    .chat-main__group-info__name
      .name test
      .member Member : masa
    = link_to "#", class: "chat-main__group-info__edit-btn" do
      Edit
  .chat-main__message-list
    .message-list
      .message-list__name
        masa
      .message-list__date
        2020/04/30(Fri) 13:43:09
    .messages
      おはよう！

    .message-list
      .message-list__name
        masa
      .message-list__date
        2020/04/30(Fri) 14:24:12
    .messages
      今日は夜から雨

  .chat-main__message-form