* {
  box-sizing: border-box;
}

.side-bar {
  float: left;
  &__user-name{
    display: flex;
    align-items: center;
  }
    .top-items{
      display: flex;
      justify-content: space-between;
      &__iconList{
        display: flex;
        justify-content: flex-end;
      }
      &__Icon{
        text-decoration: none;
        display: inline;
      }
    }
}

.chat-main{
  float: right;
  .groupInfo{
    display: flex;
    justify-content: space-between;
      &__memberList{
        display: flex;
      }
    &__editBtn{
      display: block;
      text-decoration: none;
    }
  }
  &__messageList{
    .messageList{
      display: flex;
    }
  }
  &__message-form{
    .form__contents{
      display: flex;
      justify-content: space-between;
      .form__inputBox{
        position: relative;
        .form__inputText{
          border: none;
        }
        .message-image{
          position: absolute;
          #message-image{
            display: none;
          }
        }
      }
      .form__submitBtn{
        border: none;
      }
    }
  }
}