* {
  box-sizing: border-box;
}

.side-bar {
  height: 100vh;
  width: 300px;
  float: left;
  &__user-name{
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .top-items{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      &__name{
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
      }
      &__iconList{
        width: 60px;
        display: flex;
        justify-content: flex-end;
      }
      &__Icon{
        text-decoration: none;
        color: #ffffff;
        display: inline;
        &--edit{
          margin-right: 5px;
        }
      }
    }
  &__group-lists{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
    .group-list{
      // height: 90px;
      width: 260px;
      margin: 0 20px;
      // background-color: #eeeeee;
      color: #ffffff;
      font-weight: bold;
      &__name{
        font-size: 15px;
        padding-top: 20px;
        margin-bottom: 5px;
      }
      &__new-message{
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;
  &__group-info{
    height: 100px;
    background-color: #ffffff;
    border-bottom: solid 1px #eeeeee;
    // display: flex;
    // justify-content: space-between;
    // &__name{
    //   margin-left: 40px;
    // }
  }
  &__message-list{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
  }
}